*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
   font-weight: 500;
   font-family: Montserrat;
   background: #fafafa;
}

/* ---------------------------------------- */
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* ---------------------------------------- */
._container {
   max-width: 1046px;
   padding: 0px 15px;
   margin: 0 auto;
   box-sizing: content-box;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* Header---------> */

.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 104px;
   align-items: center;
}

@media (max-width:479px) {
   .header__container {
      min-height: 70px;
   }
}

.header__logo {
   font-size: 24px;
   font-weight: 700;
   color: inherit;
}

.header__menu {
   margin: 0px 0px 0px 133px;
}
@media (max-width:992px) {
   .header__menu {
      margin: 0px 0px 0px 80px;
   }
}

@media (max-width:767px) {
   .header__menu {
      margin: 0px 0px 0px 40px;
   }
}

@media (max-width:479px) {
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}

.menu {
   padding: 5px 0;
}

.menu__list {
   flex-wrap: wrap;
   display: flex;
   
}

.menu__item:not(:last-child) {
   margin: 0px 21px 0px 0px;
}

.menu__link {
   color: #737373;
   line-height: calc(24 / 14 * 100%);
   font-weight: 600;
}

@media (max-width:479px) {
   .menu__link {
      font-size: 18px;
   }
}

/* Page------------------------> */
.page {
   flex: 1 1 auto;
}

.page__clients:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.page__services {
   position: relative;
   z-index: 2;
   margin-top: -111px;
}


/* Header-block------------------------> */

.header-block {
   text-align: center;
   letter-spacing: 0.2px;
}
.header-block__title {
   font-size: 40px;
   font-weight: 700;
   line-height: 142%;
}
.header-block__title:not(:last-child) {
   margin-bottom: 10px;
}
.header-block__sub-title {
   color: #737373;
   line-height: 142%;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}



/* Main----------------------> */

.main__block {
   position: relative;
}

.main-block__container {

}

.main-block__body {
   padding: 184px 0px 191px 0px;
   position: relative;
   z-index: 2;
   max-width: 400px;
}

.main-block__body > *:not(:last-child) {
   margin: 0px 0px 35px 0px;
}

@media (max-width:992px) {
   .main-block__body {
      padding: 120px 0px 191px 0px;
   }
}

.main-block__title {
   font-size: 58px;
   line-height: calc(80 / 58 * 100%);
   font-weight: 800;
   letter-spacing: 0.2px;

}

@media (max-width:479px) {
   .main-block__title {
      font-size: 42px;
   }
}

.main-block__text {
   color: #737373;
   font-size: 20px;
   line-height: calc(30 / 20 * 100%);
}

@media (max-width:479px) {
   .main-block__text {
      color: #585757;
   }
}

.main-block__buttons {
   display: flex;
   flex-wrap: wrap;
   margin: -10px 0;
}


.main-block__button {
   border-radius: 37px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   padding: 5px 36px;
   letter-spacing: 0.2;
   line-height: 150%;
   text-align: center;
   font-weight: 700;
   margin: 10px 0;
}

@media (max-width:479px) {
   .main-block__button {
      flex: 1 1 100%; 
   }
}

@media (min-width:479px) {
.main-block__button:not(:last-child) {
   margin-right: 10px;
}
}

.main-block__button_orange {
   background: #ff7b47;
   color: #fff;
}

.main-block__button_border {
   color: #0D5C63;
   border: 1px solid #0D5C63;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

@media (max-width:1300px) {
   .main-block__image img {
      object-position: right;
   }
}

@media (max-width:992px) {
   .main-block__image {
      opacity: .5;
   }
}

/* Services----------------------> */


@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}

@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}

.item-service_green {
	background-color: #0d5c63;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}

.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}

/* Advantages----------------------> */


.advantages {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
}

.advantages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}

.advantages__item {
	background-color: #fff;
	padding: 30px;
	font-weight: 700;
	text-align: center;
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 142%;
}
.advantages__text {
	letter-spacing: 0.1px;
	color: #737373;
	font-size: 16px;
	line-height: 150%;
}

/* Practice----------------------> */


.practice {
   background: #fafafa;
   padding: 125px 0px 80px 0px;
}
@media (max-width:993px) {
   .practice {
      padding: 40px 0px 80px 0px;
   }
}
@media (max-width:767px) {
   .practice {
      padding: 0px 0px 40px 0px;
   }
}

.practice__header {
   margin-bottom: 45px;
}
@media (max-width:767px) {
   .practice__header {
      margin-bottom: 25px;
   }
}
.practice__body {
   margin: 0px -20px -30px;
   display: flex;
   flex-wrap: wrap;
}
.practice__column {
   padding: 0px 20px 30px;
   flex: 0 1 25%;
}
@media (max-width:1040px) {
   .practice__column {
      padding: 0px 20px;
      flex: 0 1 50%;
   }
}
@media (max-width:630px) {
   .practice__column {
      padding: 0px 20px;
      flex: 0 1 100%;
   }
}

.item-practice {
   background: #fff;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.item-practice__content {
   padding: 30px;
   flex: 1 1 auto;
}
.item-practice__title {
   font-size: 16px;
   letter-spacing: 0.1px;
   line-height: 150%;
   color: inherit;
   font-weight: 700;
}
.item-practice__link {
   color: inherit;
   display: inline-block;
}
.item-practice__link:hover {
   text-decoration: underline;
}
.item-practice__link:not(:last-child) {
   margin-bottom: 15px;
}
.item-practice__text {
   color: #737373;
   line-height: 142%;
}
.item-practice__image {
   padding-bottom: 60%;
   display: block;
}

/* Who We Are----------------------> */

.whoweare {
   background: #fff;
   padding: 80px 0px 130px 0px ;
}
.whoweare__container {
  
}
.whoweare__body {
   display: flex;
   align-items: flex-start;
}


.whoweare__header {
   margin-bottom: 100px;
}

.whoweare__video {
   flex: 0 0 57%;
   position: relative;
   padding-bottom: 42.25%;
}

.whoweare__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.whoweare__content {
   flex: 1 1 auto;
   padding: 20px 0px 0px 121px;
}
.whoweare__title {
   font-weight: 800;
   line-height: 142%;
   font-size: 40px;
   letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
   margin-bottom: 10px;
}
.whoweare__top:not(:last-child) {
   margin: 0px 0px 50px 0px;
}
.whoweare__text {
   color: #737373;
   line-height: 142%;
}

.whoweare__items {
   margin-top: 50px;
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
   margin-bottom: 30px;
}
.item-whoweare {
   display: flex;
}
.item-whoweare__icon {
   flex: 0 0 32px;
}
.item-whoweare__body {
   flex: 1 1 auto;
   padding-left: 20px;
}
.item-whoweare__title {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;

}
.item-whoweare__title:not(:last-child) {
   margin-bottom: 5px;
}
.item-whoweare__text {
   color: #737373;
   white-space: nowrap;
   line-height: 142%;
   text-overflow: ellipsis;
   width: 225px;
   overflow: hidden;
}

@media (max-width:1080px) {
   .whoweare__content {
      padding: 0px 0px 0px 50px;
   }
}

@media (max-width:950px) {
   .whoweare__title {
      font-size: 24px;
   }
   .whoweare__content {
      padding: 0px 0px 0px 0px;
   }
   .whoweare__header {
      margin-bottom: 0px 0px 30px 0px;
   }
   .whoweare__body {
      flex-direction: column-reverse;
      align-items: stretch;
   }
   .whoweare__video {
      padding: 0px 0px 56.25% 0px;
   }
   .whoweare__video:not(:last-child) {
      margin: 50px 0px 0px 0px;
   }

   .whoweare {
      padding: 50px 0px 50px 0px ;
   }
}

@media (max-width:767px) {
   .whoweare {
      padding: 20px 0px 50px 0px ;
   }
   .whoweare__video:not(:last-child) {
      margin: 30px 0px 0px 0px;
   }
   .whoweare__top:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }
}

/* Clients----------------------> */


.clients {
   padding: 50px 0;
}
@media (max-width:767px) {
   .clients {
      padding: 30px 0;
   }
}
.clients__container {
}

.clients__items {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
.client__item {
   padding: 8px 10px;
   flex: 0 1 16.6667%; 
   text-align: center;
   min-width: 140px;
}

.client__item img {
   max-width: 100%;
}

/* Subscribe----------------------> */

.subscribe {
   position: relative;
   padding: 0px 0px 20px 0px;
}
.subscribe::before {
   content: "";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;
   background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
   position: relative;
   z-index: 2;
   
   padding: 30px 50px;
   align-items: center;
   background: #17213c;
   border-radius: 2px;
}
@media (min-width:1070px) {
   .subscribe__body {
      margin: 0 30px;
   }
}
@media (min-width:810px) {
   .subscribe__title {
      max-width: 266px;
   }
   .subscribe__body {
      display: flex;
      justify-content: space-between;
   }
}
.subscribe__title {
   
   color: #fff;
   font-size: 24px;
   line-height: 133%;
   font-weight: 700;
}
@media (max-width:810px) {
   .subscribe__title {
      margin: 0px 0px 20px 0px; 
   }
   .subscribe__body {
      margin: 0px -15px;
      padding: 20px 15px;
   }
}
.subscribe__form {
   flex: 0 1 50%;
   display: flex;
   align-items: center;
}
.subscribe__input {
   width: 100%;
   flex: 1 1 auto;
   min-height: 58px;
   padding: 0 20px;
   border: 1px solid #E6E6E6;
   box-sizing: border-box;
   border-radius: 5px 0px 0px 5px;
   border-right: 0;
   background: #f9f9f9;
   color: #737373;
}
.subscribe__input:focus {
   color: #000;
}
.subscribe__button {
   background: #FF7B47;
   border: 1px solid #E6E6E6;
   box-sizing: border-box;
   border-radius: 0px 5px 5px 0px;
   display: flex;
   min-height: 58px;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   padding: 0 22px;
}

@media (max-width:810px) {
   .subscribe__button {
      padding: 0px 15px;
   }
   .subscribe__input {
      padding: 0 15px;
   }
}

/* Subscribe----------------------> */


.getintouch {
   padding: 80px 0px 135px 0px;
}
.getintouch__container {
}
.getintouch__header {
   margin-bottom: 80px;
}
@media (min-width:992px) {
   .getintouch__items {
      margin: 0;
      display: flex;
      align-items: center;
   }
}
@media (max-width:992px) {
   .getintouch__header {
      margin-bottom: 50px;
   }
   .getintouch {
      padding: 50px 0px 50px 0px;
   }
}
@media (max-width:767px) {
   .getintouch__header {
      margin-bottom: 30px;
   }
}
.getintouch__items {
   margin: 0 -15px;
}
.getintouch__item {
   flex: 0 1 33.333%;
}
.item-getintouch {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
   padding: 50px 15px;
   transition: all .3s linear;
}

.item-getintouch:hover {
   background: #252b42;
   
   color: #fff;
}

.item-getintouch__icon img:hover{
   color: #FFF;
}

.item-getintouch > *:not(:last-child){
   margin-bottom: 15px;
}
.item-getintouch__icon {
}

.item-getintouch__emails {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.item-getintouch__email {
   color: inherit;
   font-weight: 600;
   line-height: 150%;
   font-size: 16px;
}
.item-getintouch__email:hover {
   text-decoration: underline;
}
.item-getintouch__label {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
}
.item-getintouch__button {
   border: 1px solid #ff7b47;
   border-radius: 5px;
   min-height: 44px;
   display: flex;
   color: #ff7b47;
   font-weight: 600;
   line-height: 142%;
   padding: 5px 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: all .3s ease 0s;
}
.item-getintouch__button:hover {
   background: #ff7b47;
   color: #fff;
}

/* ----------------Contact Us */

.contact {
   background: #fff;
   padding: 42px 0;
}
.contact__container {

}
._container {
}

@media(min-width:767px){
   .contact__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .contact__content {
      padding: 0px 20px 0px 0px;
   }
}

.contact__content {
   padding: 0px 0px 20px 0px;
}


.contact__title {
   font-weight: 700;
   letter-spacing: 0.1px;
   font-size: 24px;
   line-height: 133%;
}
.contact__title:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.contact__text {
   color: #737373;
   line-height: 142%;
}
.contact__button {
   display: flex;
   background: #FF7B47;
   border-radius: 5px;
   min-height: 58px;
   padding: 5px 40px;
   justify-content: center;
   align-items: center;
   color: #fff;
   transition: background-color .3s ease;
}
.contact__button:hover{
   background-color: #aa5330;
}

/* Footer----------------------> */

.footer {
}
.footer__top {
   background: #17213c;
   padding: 35px 0px;
}
.footer__main {
   
}
.footer__row {
   display: flex;
   margin: 0px -15px;
   flex-wrap: wrap;
}
._container {
}
.footer__column {
   padding: 10px 15px;
   flex: 0 1 16.6667%;
}

@media (max-width:992px) {
   .footer__column {
      flex: 0 1 25%;
   }
   .footer__column:last-child {
      flex: 0 1 100%;
   }
}

@media (max-width:992px) {
   .footer__column {
      flex: 0 1 50%;
   }
}

.footer__column:last-child {
   flex: 0 1 33.334%;
}

.footer__label {
   color: #fff;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   margin-bottom: 20px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
   margin-bottom: 10px;
}
.menu-footer__link {
   color: #fff;
   letter-spacing: 0.2px;
   line-height: 171%;
   font-size: 14px;
   display: inline-block;
}
.menu-footer__link:hover{
   text-decoration: underline;
}

.footer__contacts {
}
.contacts-footer {
   display: flex;
   flex-direction: column;
}
.contacts-footer__item {
   padding-left: 34px;
   line-height: 142%;
   display: flex;
   align-items: center;
   min-height: 30px;
   color: #fff;
   font-size: 14px;
}

.contacts-footer__item:hover {
   text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
   margin-bottom: 12px;
}
.contacts-footer__item_phone {
   background: url(./image/footer/icons/phone.svg) left no-repeat;
}
.contacts-footer__item_map {
   background: url(./image/footer/icons/location.svg) left  no-repeat;
}
.contacts-footer__item_email {
   background: url(./image/footer/icons/mail.svg) left no-repeat;
}
.footer__bottom {
   padding: 25px 0;
}
.footer__contaner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media (max-width:767px){
   .footer__contaner {
     flex-direction: column;
   }
   .footer__copy {
      margin-bottom: 15px;
      text-align: center;
   }
}

.footer__copy {
   color: #737373;
   line-height: 171%;
}
.footer__social {
   display: flex;
   align-items: center;
}
.social__item:not(:last-child) {
   padding-right: 20px;
}
